@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.bg{
    -fx-background-image:url("img/bg.jpg");
    -fx-background-size: cover;
    -fx-background-radius: 10;


}

.mainbox{
    -fx-background-color: #FFFFFF ;
    -fx-background-size: cover;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(two-pass-box,darkgrey, 20, 0, 0,0 );

}
.button{
    -fx-background-radius: 10;
    -fx-background-color: #86C8BC;
    -fx-font-family:'Lexend Deca', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: 400;
}
.label{
    -fx-font-family:'Lexend Deca', sans-serif;
    -fx-font-size: 15;

}
.label1{
    -fx-font-family:'Lexend Deca', sans-serif;
    -fx-font-size: 30;

}